name: Integrated test
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      actions:  # id of input
        description: 'actions'
        required: false
        default:  ''
        type: string
    secrets:
        access_token:
        required: true
    outputs:
      output1:
        description: "The first output string"
        value: ${{ jobs.baseline-test.outputs.output1 }}
      output2:
        description: "The second output string"
        value: ${{ jobs.docker-source-combine.outputs.output2 }}
jobs:
  baseline-test:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.baseline-test.outputs.result }}
    steps:
      - uses: actions/checkout@v3
      - name: baseline-test
        uses: floralatin/hub-actions/.github/actions/baseline-test@master
        id: baseline-test
        with: 
          python-version: '3.7'
          github-token: ${{ secrets.access_token }}

  docker-source-combine:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.docker-source-combine.outputs.result }}
    steps:
    - name: docker-source-combine
      id: docker-source-combine
      uses: floralatin/hub-actions/.github/actions/docker-source-combine@master
      with: 
        python-version: '3.7'
        node-version: '16.x'
        case-path: 'success/case1'
        node_env: 'testing'
        jina_hubble_registry: 'http://localhost:3000'
        github-token: ${{ secrets.access_token }}
        